footer {
  background: #97B6B4;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 84px 0;
  font-size: 16px;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 97px;
  width: 100%;
  margin: 0 68px 0 0;
}

.schedule p {
  margin: 0 0 10px;
}
.schedule p:last-child {
  margin: 0;
}

.footer-phone {
  color: #fff;
  font-size: 24px;
  margin: 27px 0 10px;
}
.footer-phone:hover {
  color: #000;
}

.footer-menu {
  margin: 0 80px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.footer-menu li {
  margin: 0 19px 19px 0;
}
.footer-menu li a {
  color: #fff;
}
.footer-menu li a:hover {
  color: #ccc;
}

.list-social-footer {
  max-width: 106px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-social-footer li {
  margin: 0 0 32px 0;
}
.list-social-footer li a {
  fill: #fff;
  width: 40px;
  height: 40px;
}
.list-social-footer li a:hover {
  fill: #000;
}

.map-location {
  height: 326px;
  width: 697px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.map-location iframe {
  width: 100%;
  height: 100%;
}

.modal-dialog {
  max-width: 1480px;
}

.modal-content {
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 50px 96px 58px;
}

.modal-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
}

.modal-header {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.modal-header .btn-close {
  position: absolute;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  top: 40px;
  right: 18px;
  width: 27px;
  height: 27px;
  background: transparent;
  fill: #D6AE9F;
}

.modal-body {
  margin: 60px 0 0;
  padding: 0;
}