@charset "UTF-8";
.home {
  padding: 335px 0 70px;
  position: relative;
  z-index: 2;
  color: #fff;
  overflow: hidden;
  background: #000;
}
.home .container {
  max-width: 1900px;
  padding: 0 210px 0 58px;
}
.home::before {
  content: "";
  position: absolute;
  background: url("../img/home-bg1.png") no-repeat center;
  background-size: cover;
  width: 1900px;
  height: 100%;
  bottom: 0;
  left: -610px;
  z-index: -1;
  opacity: 0.8;
}
.home .list-messangers {
  margin: 0 80px 0 70px;
}
.home h1 {
  margin: 0 0 228px;
  max-width: 1018px;
}
.home .phone {
  margin-right: auto;
}

.home-image {
  position: absolute;
  right: -517px;
  top: 0;
  max-width: 1286px;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-image::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  left: 0;
  top: 0;
}
.home-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.schedule-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.schedule-box-it {
  border-right: 1px solid #fff;
  padding: 0 25px;
}
.schedule-box-it:first-child {
  padding-left: 0;
}
.schedule-box-it:last-child {
  padding-right: 0;
  border: none;
}

.list-messangers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-messangers li {
  margin: 0 30px 0 0;
}
.list-messangers li:last-child {
  margin: 0;
}
.list-messangers li a {
  width: 44px;
  height: 27px;
  fill: #B6AC97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-messangers li a:hover {
  fill: #D6AE9F;
}

.phone {
  color: #fff;
  font-size: 32px;
}
.phone:hover {
  color: #D6AE9F;
}

.about {
  padding: 100px 0 190px;
  z-index: 1;
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: calc(100% - 593px);
  height: 785px;
  background: #96B5B3;
}
.about .box-text {
  max-width: 590px;
}

.about-image {
  margin: 100px 0 0;
  width: 100%;
  height: 660px;
  position: relative;
  overflow: hidden;
}
.about-image img {
  bottom: -100%;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-title-text {
  bottom: 213px;
}

.pride-estate {
  position: relative;
}

.kitchen {
  padding: 0 0 92px;
  position: relative;
}
.kitchen h2 {
  margin: 0 0 32px;
}

.kitchen-content {
  position: relative;
  z-index: 1;
}

.kitchen-title-text {
  right: auto;
  left: 28px;
  bottom: 0;
}

.kitchen-image {
  max-width: 1326px;
  height: 723px;
  width: 100%;
  padding: 0 0 0 50px;
  position: absolute;
  right: -226px;
  top: 18px;
  overflow: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.kitchen-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.atmosphere {
  position: relative;
  padding: 187px 0 357px;
}
.atmosphere::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D6ADA0;
}
.atmosphere h2 {
  margin: 0 0 38px;
}

.atmosphere-about {
  max-width: 545px;
  margin: 213px auto 0;
}

.atmosphere-title-text {
  color: #fff;
  bottom: 0;
}

.callback-box {
  border-radius: 5px;
  background: #7BA09A;
  padding: 47px 39px 66px 46px;
  color: #fff;
}
.callback-box .h2 {
  max-width: 427px;
  margin: 0 0 21px;
}
.callback-box .box-text {
  color: #DCDCDC;
}
.callback-box .form-callback {
  margin: 63px 0 0;
}
.callback-box .form-callback input {
  color: #fff;
}
.callback-box .form-callback input::-webkit-input-placeholder {
  color: #fff;
}
.callback-box .form-callback input::-moz-placeholder {
  color: #fff;
}
.callback-box .form-callback input:-ms-input-placeholder {
  color: #fff;
}
.callback-box .form-callback input::-ms-input-placeholder {
  color: #fff;
}
.callback-box .form-callback input::placeholder {
  color: #fff;
}
.callback-box .form-callback label {
  margin: 0 0 29px;
}
.callback-box .form-callback label:first-child {
  max-width: 182px;
}
.callback-box .form-callback label:nth-child(2) {
  max-width: 231px;
}
.callback-box .form-callback label:last-child {
  max-width: 187px;
}
.callback-box .form-callback .form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.callback-box .form-callback .form-footer {
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.callback-box .form-text {
  margin: 0 0 30px;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.form-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.consent {
  color: #B9D1D0;
  font-size: 12px;
  max-width: 188px;
  margin: 0 0 0 10px;
}

.sales-wrapper {
  color: #fff;
  width: 100%;
  padding: 35px 74px 55px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/sale-bg.jpeg"), lightgray 50% no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../img/sale-bg.jpeg"), lightgray 50% no-repeat;
  background-position: center;
  background-size: cover;
}

.sales-text {
  font-weight: bold;
  font-size: 24px;
  margin: 37px 0;
}

.menu-card {
  width: 100%;
  height: 100%;
}
.menu-card__photo {
  width: 100%;
  height: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.menu-card__photo img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu-card__body {
  padding: 32px 0 0;
  width: 100%;
  height: calc(100% - 346px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-card__title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0 0 15px;
  max-width: 287px;
}
.menu-card__title:hover {
  color: #D6AE9F;
}
.menu-card__description {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 32px;
}
.menu-card__price {
  margin: auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  font-weight: bold;
}

.programm {
  padding: 430px 0 83px;
  position: relative;
  overflow: hidden;
}

.programm-title-text {
  font-size: 186px;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 2px #CDCDCD;
  -webkit-transform: none;
          transform: none;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  white-space: nowrap;
  bottom: auto;
  right: auto;
  top: 84px;
}

.programm-card {
  width: 100%;
  height: 100%;
  font-size: 20px;
  overflow: hidden;
}
.programm-card__photo {
  width: 100%;
  height: 640px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.programm-card__photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.programm-card__body {
  padding: 25px 0 0;
  width: 100%;
}
.programm-card .date-text {
  margin: 0 0 23px;
}
.programm-card__name {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 23px;
  color: #000;
}
.programm-card__name:hover {
  color: #D6AE9F;
}
.programm-card .box-text {
  max-width: 413px;
}

.programm-col2 {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.programm-col3 {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.date-text {
  font-size: 20px;
  font-weight: 300;
  color: #97B6B4;
}

.events-section {
  padding: 58px 0 52px;
  background: #FFF1EC;
}

.events-card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.events-card__photo {
  width: 100%;
  height: 323px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.events-card__photo img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events-card__body {
  width: 100%;
  height: calc(100% - 323px);
  padding: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.events-card .btn {
  margin: auto 0 0;
}
.events-card .date-text {
  margin: 0 0 30px;
}
.events-card .box-text {
  margin: 0 0 23px;
  max-width: 320px;
}

.category-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-box {
  height: 613px;
  width: 50%;
  position: relative;
  z-index: 1;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.category-box::before {
  content: "";
  position: absolute;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.category-box:hover::before {
  opacity: 1;
}
.category-box:hover .category-box__hidden {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.category-box__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.category-box__hidden {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.category-box.w100 {
  width: 100%;
  height: 404px;
}
.category-box.w100 .box-text {
  max-width: 597px;
}
.category-box .box-text {
  margin: 45px auto;
  max-width: 413px;
}
.category-box__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.category-box__title:hover {
  color: #D6AE9F;
}

.our-halls {
  position: relative;
  z-index: 1;
  padding: 137px 0 166px;
  overflow: hidden;
}
.our-halls::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 318px);
  background: #96B5B3;
}
.our-halls__image {
  max-width: 965px;
  height: 713px;
  width: 100%;
  bottom: 0;
  left: -100%;
  position: absolute;
  z-index: -1;
}
.our-halls__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-halls__content {
  margin: 0 auto 0 96px;
  max-width: 545px;
}
.our-halls .box-text {
  margin: 38px 0 127px;
}
.our-halls .btn-reservation {
  border-radius: 0;
  min-width: 839px;
  width: 100%;
  padding: 61px 63px;
  height: auto;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.halls-card {
  width: 100%;
  height: 543px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.halls-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  -webkit-transition: all ease-in-out 0.45s;
  transition: all ease-in-out 0.45s;
}
.halls-card:hover .halls-card__bg {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.halls-card:hover .halls-card__body {
  padding-bottom: 99px;
}
.halls-card:hover .halls-card__body .btn {
  opacity: 1;
}
.halls-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all ease-in-out 0.45s;
  transition: all ease-in-out 0.45s;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.halls-card__body {
  position: relative;
  padding: 30px 40px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease-in-out 0.45s;
  transition: all ease-in-out 0.45s;
}
.halls-card__body .btn {
  margin: 0 auto 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.halls-card__title {
  color: #fff;
  margin: 50px auto;
  font-size: 48px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.halls-card__title:hover {
  color: #D6AE9F;
}

.reviews-section {
  background: #FFF1EC;
  padding: 85px 0 117px;
  overflow: hidden;
}

.reviews-slider {
  width: calc(100% + 230px);
}
.reviews-slider .slide {
  margin: 0 75px 0 0;
  height: auto;
  max-width: 665px;
  width: 100%;
}
.reviews-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.reviews-card {
  border-radius: 5px;
  background: #FFF;
  padding: 60px;
  width: 100%;
  height: 100%;
}
.reviews-card__name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 25px;
}
.reviews-card .list-rating {
  margin: 25px 0 0;
}

.reviews-wrapper-section {
  padding: 60px 0 140px;
  background: #F4F4F4;
}

.reviews-wrapper {
  margin: 87px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews-wrapper .reviews-card {
  margin: 0 60px 60px 0;
  max-width: 665px;
  width: 100%;
  display: none;
}
.reviews-wrapper .reviews-card:nth-child(-n+6) {
  display: block;
}

.btn-toggle-reviews, .btn-toggle-events {
  margin: 27px auto 0;
}

.events-wrapper-section {
  padding: 72px 0 88px;
}

.events-card-col {
  display: none;
}
.events-card-col:nth-child(-n+4) {
  display: block;
}

.events-card-row {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 66px;
}
.events-card-row .events-card__photo {
  width: 344px;
  height: 323px;
}
.events-card-row .events-card__body {
  width: calc(100% - 344px);
  padding: 0 0 0 30px;
}
.events-card-row .date-text {
  margin: 0 0 23px;
}
.events-card-row .btn {
  margin: 0;
}

.page-event-home {
  position: relative;
  z-index: 1;
  color: #000;
  padding: 94px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#97B6B4), to(#97B6B4));
  background: linear-gradient(0deg, #97B6B4 0%, #97B6B4 100%);
}
.page-event-home__image {
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 935px;
  width: 100%;
}
.page-event-home__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.page-event-home__content {
  max-width: 546px;
}

.event-description {
  margin: 65px 0 44px;
}

.video-box {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 562px;
}
.video-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  left: 0;
  top: 0;
  z-index: 1;
}
.video-box__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-box__btn {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.video-box__btn:hover {
  color: #D6AE9F;
}
.video-box__btn::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 53px;
  width: 94px;
  height: 94px;
  background: url("../img/play.svg") no-repeat center;
  background-size: 100%;
}
.video-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-slider .slick-list {
  margin: 0 -15px;
}
.menu-slider .slick-slide {
  padding: 0 15px;
}
.menu-slider__item {
  width: 100%;
  height: 373px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.page-delivery-home .page__bg {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.image-box {
  width: 100%;
  height: 373px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.image-box img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-contacts-home {
  color: #000;
}
.page-contacts-home h1 {
  margin: 0 0 50px;
}
.page-contacts-home .address {
  font-size: 24px;
  font-weight: bold;
  margin: 25px 0 60px;
}
.page-contacts-home .list-messangers {
  margin: 77px 0 0;
}
.page-contacts-home .list-messangers li a {
  fill: #97B6B4;
  width: 32px;
  height: 32px;
}

.contacts-mail {
  margin: 0 0 52px;
  font-weight: bold;
  font-size: 24px;
  color: #97B6B4;
}
.contacts-mail:hover {
  color: #D6AE9F;
}

.map-contacts {
  height: 100%;
  max-width: 1061px;
  width: 100%;
}

.page-basket-home {
  overflow: hidden;
  color: #000;
}
.page-basket-home h1 {
  margin: 0 0 60px;
  text-transform: uppercase;
}
.page-basket-home .list-checkbox {
  margin: 60px 0 0;
}

.list-checkbox li {
  margin: 0 0 37px;
}
.list-checkbox li:last-child {
  margin: 0;
}

.basket-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid #DCDCDC;
}
.basket-card:last-child {
  margin: 0;
}
.basket-card__photo {
  width: 124px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.basket-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.basket-card__body {
  width: calc(100% - 124px - 108px);
  padding: 0 19px 0 35px;
}
.basket-card__title {
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}
.basket-card__title:hover {
  color: #D6AE9F;
}
.basket-card__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.basket-card__footer {
  width: 108px;
  border-left: 1px solid #97B6B4;
  min-height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 121px;
}
.amount input {
  padding: 0;
  text-align: center;
  width: calc(100% - 31px - 31px);
  height: 31px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 0;
}
.amount input::-webkit-input-placeholder {
  color: #000;
}
.amount input::-moz-placeholder {
  color: #000;
}
.amount input:-ms-input-placeholder {
  color: #000;
}
.amount input::-ms-input-placeholder {
  color: #000;
}
.amount input::placeholder {
  color: #000;
}
.amount span {
  width: 31px;
  height: 31px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #97B6B4;
}

.product-price {
  margin: 0 0 0 30px;
  font-weight: bold;
  font-size: 24px;
}

.link-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #D6AE9F;
  font-weight: 300;
}
.link-delete svg {
  fill: #D6AE9F;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 3px;
}
.link-delete:hover {
  color: #97B6B4;
}
.link-delete:hover svg {
  fill: #97B6B4;
}

.basket-total {
  width: 100%;
  position: relative;
  padding: 0 0 90px 137px;
  z-index: 1;
}
.basket-total::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3000px;
  background: #FFF1EC;
  z-index: -1;
  width: 2000px;
}
.basket-total h3 {
  margin: 0 0 44px;
  font-weight: 400;
}
.basket-total .form-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.basket-total .special-proposition {
  width: 100%;
}

.form-basket .form-column {
  max-width: 348px;
}
.form-basket input {
  color: #464646;
}
.form-basket input::-webkit-input-placeholder {
  color: #464646;
}
.form-basket input::-moz-placeholder {
  color: #464646;
}
.form-basket input:-ms-input-placeholder {
  color: #464646;
}
.form-basket input::-ms-input-placeholder {
  color: #464646;
}
.form-basket input::placeholder {
  color: #464646;
}
.form-basket .form-footer {
  margin: 46px 0 0;
}
.form-basket [type=submit] {
  width: 100%;
  margin: 44px 0 0;
  height: 55px;
}
.form-basket .consent {
  margin: 18px 0 0;
  max-width: 277px;
}

.special-proposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  margin: 0 0 20px;
}
.special-proposition p {
  max-width: 228px;
}

.gallery-category {
  margin: 80px 0 140px;
}

.reserved-section {
  margin: 0 0 92px;
}

.reserved-wrapper {
  width: 100%;
  color: #fff;
  border-radius: 5px;
  background: #97B6B4;
  padding: 38px 100px 55px;
}
.reserved-wrapper__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 0 0 43px;
}
.reserved-wrapper__title h3 {
  max-width: 892px;
  width: 100%;
  margin: 0 auto;
}

.form-reserved {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-reserved label {
  margin: 0 0 20px;
}
.form-reserved label:last-child {
  margin: 0;
}
.form-reserved input {
  height: 60px;
}
.form-reserved h4 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 33px;
  width: 100%;
}
.form-reserved .form-column {
  padding: 0 37px;
  border-right: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-reserved .form-column:first-child {
  padding-left: 0;
  max-width: 342px;
  width: 100%;
}
.form-reserved .form-column:last-child {
  padding-right: 0;
  border: none;
  width: calc(100% - 342px);
}
.form-reserved .consent {
  max-width: 247px;
  text-align: center;
  color: #fff;
}
.form-reserved .special-proposition {
  margin: 0;
  max-width: 342px;
  width: 100%;
}
.form-reserved .special-proposition p {
  max-width: 305px;
}
.form-reserved .form-row-line {
  width: calc(100% - 342px);
  padding: 0 0 0 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-reserved .form-row-line label {
  width: calc(50% - 20px);
  margin: 0 auto 0 0;
}
.form-reserved .form-row-line label:last-child {
  margin: 0;
}
.form-reserved .form-body {
  margin: 0 0 46px;
}
.form-reserved__title {
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto 50px;
  text-align: center;
  width: 100%;
}

.form-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-row-column {
  width: calc(50% - 20px);
  margin: 0 auto 0 0;
}
.form-row-column:last-child {
  margin: 0;
}

.form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-footer {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0;
}

.certificates-category {
  margin: 107px 0 84px;
}

.certificate-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 45px 48px;
  font-size: 20px;
  font-weight: 300;
  background: #97B6B4;
}
.certificate-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88px;
  margin: 0 42px 0 0;
}
.certificate-box__sum {
  margin: 7px 0 0;
}

.form-callback-certificate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px 0 0;
}
.form-callback-certificate .box-text {
  max-width: 488px;
}
.form-callback-certificate__body {
  width: calc(100% - 488px - 70px);
  padding: 0 0 0 47px;
}
.form-callback-certificate .consent {
  margin: 30px 0 0;
  color: #D6AE9F;
  max-width: 277px;
}
.form-callback-certificate [type=submit] {
  width: 100%;
}

.photoshoot-section {
  margin: 120px 0 90px;
}

.photoshoot-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 686px;
  border-radius: 5px;
  margin: 0 0 34px;
}
.photoshoot-box:last-child {
  margin: 0;
}
.photoshoot-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.photoshoot-box.h321 {
  height: 321px;
}
.photoshoot-box.h331 {
  height: 331px;
}
.photoshoot-box.h473 {
  height: 473px;
}

.halls-section-wrapper h2 {
  margin: 0 0 72px;
}

.advantages-section {
  position: relative;
}
.advantages-section h2 {
  margin: 0 0 46px 60px;
  max-width: 386px;
}

.interiors__content {
  padding: 91px 0 0;
  position: relative;
  max-width: 969px;
  width: 100%;
}
.interiors__content:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  background: #D6AE9F;
  width: 100%;
  height: 100%;
}
.interiors__img {
  max-width: 725px;
  width: 100%;
  border-radius: 5px;
  height: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.interiors__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.fabulous-photos {
  position: relative;
  margin: -428px 0 0;
}
.fabulous-photos__content {
  position: relative;
  padding: 200px 0 0;
}
.fabulous-photos__content::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: calc(100% + 1000px);
  height: 100%;
  background: #97B6B4;
}
.fabulous-photos .h2 {
  margin: 0 149px 0 auto;
  max-width: 362px;
  padding: 0 0 225px;
}
.fabulous-photos__img {
  min-width: 1690px;
  height: 750px;
  overflow: hidden;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}
.fabulous-photos__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.impressions {
  margin: -156px 0 0;
  position: relative;
  z-index: 1;
}
.impressions__content {
  position: relative;
  padding: 91px 79px 166px 96px;
}
.impressions__content::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: calc(100% + 1000px);
  height: 100%;
  background: #97B6B4;
}
.impressions .h2 {
  margin: 0 0 137px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.impressions__img {
  height: 529px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1061px;
}
.impressions__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.impressions .form-callback {
  max-width: 429px;
}
.impressions .form-callback .box-text {
  margin: 0 0 66px;
}

.form-callback-v2 label {
  max-width: 305px;
  margin: 0 0 30px;
}
.form-callback-v2 .consent {
  margin: 30px 0 0;
  max-width: 277px;
  color: #000;
}

.product-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 755px;
  width: 100%;
  height: 714px;
}
.product-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-menu-home {
  background: #97B6B4;
  color: #000;
  padding: 60px 0 100px;
}
.page-menu-home__content .box-text, .page-menu-home__content .price-wrapper {
  margin: 30px 0;
}
.page-menu-home .btn-group {
  width: 100%;
}

.list-characteristics {
  font-size: 20px;
  font-weight: 300;
}
.list-characteristics li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-characteristics li p {
  min-width: 222px;
  max-width: 222px;
}

.product-delivery p {
  margin: 0 0 20px;
}

.page-menu-catalog-home .btn-group {
  margin: 70px 0 0;
}

.menu-catalog {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
}

.menu-sidebar {
  position: relative;
  padding: 0 0 77px 0;
  z-index: 1;
  max-width: 265px;
}
.menu-sidebar::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% + 1000px);
  width: 2000px;
  background: #97B6B4;
  z-index: -1;
}
.menu-sidebar__list {
  font-size: 24px;
}
.menu-sidebar__list li {
  margin: 0 0 31px;
}
.menu-sidebar__list li:last-child {
  margin: 0;
}
.menu-sidebar__list a {
  color: #000;
}
.menu-sidebar__list a:hover {
  color: #fff;
}
.menu-sidebar__list a.active {
  font-weight: bold;
}
.menu-sidebar__list a span {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 300;
  display: block;
}

.owner {
  margin: -145px 0 0;
  position: relative;
  z-index: 1;
}
.owner h2 {
  margin: 0 0 47px;
  max-width: 730px;
}
.owner__content {
  position: relative;
  padding: 149px 0 160px 96px;
}
.owner__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 2000px;
  background: #97B6B4;
  z-index: -1;
}
.owner__photo {
  width: 100%;
  height: 832px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.owner__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blockquote {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  z-index: 1;
  margin: 0;
}
.blockquote::before, .blockquote::after {
  content: "";
  font-size: 128px;
  font-weight: 300;
  position: absolute;
}
.blockquote::before {
  content: "«";
  top: -50px;
  left: -128px;
}
.blockquote:after {
  content: "»";
  bottom: -121px;
  left: 226px;
}

.map-attractions-section {
  position: relative;
  z-index: 1;
  padding: 94px 0 0;
  overflow: hidden;
  margin: 0 0 92px;
}
.map-attractions-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 337px);
  background: #D6ADA0;
  left: 0;
  top: 0;
}

.estate-now {
  margin: 0 0 120px;
}
.estate-now h2 {
  margin: 0 0 45px;
}
.estate-now .slider-nav {
  margin: 45px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 345px;
}
.estate-now .slick-dots {
  margin: 0 auto;
}

.estate-now-gallery {
  min-width: 1187px;
}
.estate-now-gallery__item {
  min-width: 1187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-attractions-box {
  min-width: 1690px;
  width: 100%;
  height: 820px;
}
.map-attractions-box iframe {
  width: 100%;
  height: 100%;
}

.video-about-slider .slick-list {
  margin: 0 -15px;
}
.video-about-slider .slick-slide {
  padding: 0 15px;
}
.video-about-slider .slick-dots {
  margin: 62px auto 0;
}

.video-about__box {
  width: 100%;
  height: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}
.video-about__box::before, .video-about__box::after {
  content: "";
  position: absolute;
}
.video-about__box::before {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  left: 0;
  top: 0;
}
.video-about__box:after {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 94px;
  height: 94px;
  background: url("../img/play.svg") no-repeat center;
  background-size: 100%;
}
.video-about__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-celebrations__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.gallery-celebrations__item img {
  width: 100%;
  border-radius: 5px;
}

.free-dates {
  margin: 84px 0 178px;
}

.form-reserved-black input, .form-reserved-black textarea, .form-reserved-black select {
  color: #464646;
  border-color: #000;
}
.form-reserved-black input::-webkit-input-placeholder, .form-reserved-black textarea::-webkit-input-placeholder, .form-reserved-black select::-webkit-input-placeholder {
  color: #464646;
}
.form-reserved-black input::-moz-placeholder, .form-reserved-black textarea::-moz-placeholder, .form-reserved-black select::-moz-placeholder {
  color: #464646;
}
.form-reserved-black input:-ms-input-placeholder, .form-reserved-black textarea:-ms-input-placeholder, .form-reserved-black select:-ms-input-placeholder {
  color: #464646;
}
.form-reserved-black input::-ms-input-placeholder, .form-reserved-black textarea::-ms-input-placeholder, .form-reserved-black select::-ms-input-placeholder {
  color: #464646;
}
.form-reserved-black input::placeholder, .form-reserved-black textarea::placeholder, .form-reserved-black select::placeholder {
  color: #464646;
}
.form-reserved-black .form-column {
  border-color: #97B6B4;
}

.form-reserved-v2 .consent {
  color: #D6AE9F;
  margin: 0 0 0 20px;
  text-align: left;
}

.advantages-text {
  position: relative;
  z-index: 1;
  padding: 90px 0 90px 115px;
}
.advantages-text::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  min-width: 2000px;
  background: #97B6B4;
  top: 0;
  left: 0;
}

.advantages-company__content {
  position: relative;
  z-index: 1;
  padding: 79px 0 30px;
}
.advantages-company__content::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2500px;
  background: #D6AE9F;
  z-index: -1;
}

.advantages-company-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 24px;
}
.advantages-company-box h3 {
  font-weight: bold;
  margin: 0 0 30px;
}
.advantages-company-box__img {
  width: 355px;
  height: 277px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-company-box__img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages-company-box__body {
  width: calc(100% - 355px);
  padding: 0 30px 0 32px;
}

.wedding-key h2 {
  margin: 0 0 47px;
  max-width: 377px;
}
.wedding-key__content {
  position: relative;
  padding: 169px 0 90px;
}
.wedding-key__content .box-text {
  max-width: 503px;
}
.wedding-key__content::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2000px;
  height: 939px;
  background: #97B6B4;
  z-index: -1;
}
.wedding-key__img {
  min-width: 854px;
  height: 654px;
  float: right;
  margin: 79px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wedding-key__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages-company-box-column {
  max-width: 378px;
  width: 100%;
}
.advantages-company-box-column .advantages-company-box__img {
  width: 100%;
  height: 277px;
}
.advantages-company-box-column .advantages-company-box__body {
  padding: 30px 0 0;
  width: 100%;
}
.advantages-company-box-column .box-text {
  max-width: 316px;
}

.hall-rental {
  margin: 84px 0 128px;
}
.hall-rental h2 {
  margin: 0 0 46px;
}
.hall-rental__content {
  position: relative;
  padding: 169px 0 100px 222px;
}
.hall-rental__content .box-text {
  max-width: 503px;
}
.hall-rental__content::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #D6AE9F;
  width: 2000px;
  height: 939px;
  left: 0;
  top: 0;
}
.hall-rental__img {
  border-radius: 5px;
  min-width: 854px;
  height: 654px;
  margin: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hall-rental__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.page-history-home {
  background: #fff;
  padding: 0;
  min-height: auto;
  color: #000;
}
.page-history-home__content {
  padding: 92px 0 30px 96px;
}
.page-history-home__content .box-text {
  max-width: 473px;
}
.page-history-home h1 {
  margin: 0 0 28px;
}
.page-history-home .slick-dots {
  margin: 0 auto;
}

.history-photo {
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.history-photo-slider {
  min-width: 1061px;
}

.history-photo__img {
  min-width: 1061px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.history-photo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-link-page {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 37px 103px;
  height: 112px;
  border-radius: 0;
}

.history-section {
  padding: 96px 0 102px;
  background: #FFF1EC;
  margin: 0 0 100px;
}

.history-slider {
  width: calc(100% + 500px);
}
.history-slider .slide {
  margin: 0 144px 0 0;
}

.history-slider-item {
  max-width: 359px;
  width: 100%;
}
.history-slider-item__photo {
  width: 348px;
  height: 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.history-slider-item__photo img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.history-slider-item__body {
  padding: 38px 0 0;
}

.progress {
  position: relative;
  width: 100%;
  height: 19px;
  margin: 89px 0 0;
  overflow: hidden;
  border-radius: 5px;
  background: #F2D3C8;
}

.progress-bg {
  background: #D6AE9F;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}