@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Merriweather", sans-serif;
  font-weight: normal;
  background: #FFF;
  color: #000;
}

html, body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
  border-radius: 5px;
  border: 1px solid #F0F4F4;
  width: 100%;
  height: 53px;
  background: transparent;
  color: #F0F4F4;
  font-size: 18px;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #F0F4F4;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #F0F4F4;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #F0F4F4;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #F0F4F4;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #F0F4F4;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 30px;
  position: relative;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Merriweather", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 60px;
  font-size: 20px;
  height: 85px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-accent {
  background: #C79184;
  color: #fff;
}
.btn-accent:hover {
  background: #D6AE9F;
  color: #fff;
}

.btn-accent-light {
  background: #D6AE9F;
  color: #fff;
}
.btn-accent-light:hover {
  background: #97B6B4;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #7BA09A;
}
.btn-white:hover {
  background: #D6AE9F;
  color: #fff;
}

.btn-blue {
  background: #97B6B4;
  color: #fff;
}
.btn-blue:hover {
  background: #D6AE9F;
  color: #fff;
}

.btn-md {
  font-size: 18px;
  height: 53px;
  padding: 15px 40px;
}

.btn-lg {
  padding: 20px 40px;
  height: 65px;
  font-size: 20px;
}

.btn-lg-md {
  height: 60px;
  padding: 20px 30px;
  font-size: 16px;
}

.btn-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btn-group .btn {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: 0 30px 0 0;
  border-radius: 5px;
}
.btn-group .btn:last-child {
  margin: 0;
}
.btn-group .btn:last-child, .btn-group .btn:first-child {
  border-radius: 5px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 5px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.btn-toggle__icon {
  width: 24px;
  min-width: 24px;
  height: 11px;
  fill: none;
  stroke: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 30px;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1, .h1 {
  font-size: 80px;
  width: 100%;
  margin: 0 0 50px;
}

.h1 {
  text-transform: uppercase;
}

h2, .h2 {
  width: 100%;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.container {
  max-width: 1510px;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
}
.row > * {
  padding: 0 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-80 {
  margin-bottom: 80px;
}

.m-100 {
  margin: 100px 0;
}

.m-80 {
  margin: 80px 0;
}

.m-36 {
  margin: 36px 0;
}

.title-text {
  text-transform: uppercase;
  color: #D6ADA0;
  font-size: 144px;
  font-weight: 300;
  position: absolute;
  right: 110px;
  bottom: 23px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.title-text span {
  display: block;
}

.section-relative {
  position: relative;
}

.image-wrapper {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.image-wrapper img {
  border-radius: 5px;
  width: 100%;
}

.box-text {
  font-size: 20px;
  font-weight: 300;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 26px;
  height: 53px;
  fill: none;
  stroke: #97B6B4;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
}
.slick-arrow:hover {
  stroke: #D6AE9F;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  bottom: 0;
  position: relative;
  list-style-type: none;
}
.slick-dots li {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 31px 0 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
  border: 1px solid #97B6B4;
  border-radius: 50%;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background: #97B6B4;
}

.slider-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 83px auto 0;
}
.slider-nav .slick-next {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.slider-nav .slick-dots {
  margin: 0 125px;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
}
.label-checkbox input {
  display: none;
}
.label-checkbox input:checked ~ .checkbox-custom::before {
  background: #97B6B4;
}

.checkbox-custom {
  margin: 0 27px 0 0;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  width: 35px;
  height: 35px;
  min-width: 35px;
  cursor: pointer;
}
.checkbox-custom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.list-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-rating li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 30px;
  min-width: 32px;
  margin: 0 17px 0 0;
  fill: #D6AE9F;
}
.list-rating li:last-child {
  margin: 0;
}

.nav-breadcrumbs {
  width: 100%;
  margin: 0 0 84px;
}

.breadcrumb {
  margin: 0;
  color: #D6AE9F;
  font-size: 14px;
}
.breadcrumb a {
  color: #D6AE9F;
}
.breadcrumb a:hover {
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0;
  border: none;
  margin: 0 10px;
  color: #D6AE9F;
}

.breadcrumb-item.active {
  color: #D6AE9F;
}

.page {
  position: relative;
  z-index: 1;
  color: #fff;
  min-height: 550px;
  padding: 38px 0 120px;
  margin: 95px 0 0;
}
.page__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: -1;
}

.page-not-overlay::before {
  display: none;
}

.form-black label {
  margin: 0 0 20px;
}
.form-black label:last-child {
  margin: 0;
}
.form-black input {
  border: 1px solid #000;
  color: #464646;
  height: 60px;
  font-weight: 300;
  padding: 0 26px;
}
.form-black input::-webkit-input-placeholder {
  color: #464646;
}
.form-black input::-moz-placeholder {
  color: #464646;
}
.form-black input:-ms-input-placeholder {
  color: #464646;
}
.form-black input::-ms-input-placeholder {
  color: #464646;
}
.form-black input::placeholder {
  color: #464646;
}
.form-black .select-my {
  border: 1px solid #000;
  color: #464646;
  font-weight: 300;
}
.form-black .form-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-black .form-row label {
  width: calc(50% - 7.5px);
}

.select-my {
  background: url("../img/arrow-select.svg") no-repeat calc(100% - 20px) center;
  background-size: 23px;
  padding: 0 44px 0 26px;
  height: 60px;
}

.select-my-white {
  background: url("../img/arrow-select-white.svg") no-repeat calc(100% - 20px) center;
}

.form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-icon {
  position: absolute;
  right: 21px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tooltip-wrapper {
  position: relative;
}
.tooltip-wrapper:hover .tooltip-box {
  display: block;
}

.tooltip-wrapper-accent .btn-tooltip {
  background: #D6AE9F;
  width: 31px;
  height: 31px;
  min-width: 31px;
  font-size: 18px;
}

.btn-tooltip {
  width: 46px;
  height: 46px;
  min-width: 46px;
  border-radius: 50%;
  color: #fff;
  background: #97B6B4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.tooltip-box {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 100%;
  margin: 0 0 10px;
  max-width: 220px;
  min-width: 220px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
  color: #000;
  z-index: 3;
  display: none;
}

.nav-tabs {
  color: #8A8A8A;
  font-size: 24px;
  width: 100%;
  border: none;
}
.nav-tabs .nav-link {
  margin: 0 40px 0 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  padding: 0 0 13px;
  color: #8A8A8A;
  font-weight: normal;
}
.nav-tabs .nav-link:last-child {
  margin: 0;
}
.nav-tabs .nav-link.active {
  font-weight: bold;
  color: #000;
  border-bottom-color: #97B6B4;
}

.tab-content {
  margin: 48px 0 0;
  width: 100%;
}