@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Merriweather", sans-serif;
  font-weight: normal;
  background: #FFF;
  color: #000;
}

html, body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
  border-radius: 5px;
  border: 1px solid #F0F4F4;
  width: 100%;
  height: 53px;
  background: transparent;
  color: #F0F4F4;
  font-size: 18px;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #F0F4F4;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #F0F4F4;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #F0F4F4;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #F0F4F4;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #F0F4F4;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 29px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Merriweather", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 60px;
  font-size: 20px;
  height: 85px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-accent {
  background: #C79184;
  color: #fff;
}
.btn-accent:hover {
  background: #D6AE9F;
  color: #fff;
}

.btn-accent-light {
  background: #D6AE9F;
  color: #fff;
}
.btn-accent-light:hover {
  background: #97B6B4;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #7BA09A;
}
.btn-white:hover {
  background: #D6AE9F;
  color: #fff;
}

.btn-blue {
  background: #97B6B4;
  color: #fff;
}
.btn-blue:hover {
  background: #D6AE9F;
  color: #fff;
}

.btn-md {
  font-size: 18px;
  height: 53px;
  padding: 15px 40px;
}

.btn-lg {
  padding: 20px 40px;
  height: 65px;
  font-size: 20px;
}

.btn-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btn-group .btn {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: 0 30px 0 0;
  border-radius: 5px;
}
.btn-group .btn:last-child {
  margin: 0;
}
.btn-group .btn:last-child, .btn-group .btn:first-child {
  border-radius: 5px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 5px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.h1 {
  font-size: 80px;
  text-transform: uppercase;
}

h2, .h2 {
  width: 100%;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.container {
  max-width: 1510px;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
}
.row > * {
  padding: 0 10px;
}

.m-100 {
  margin: 100px 0;
}

.m-80 {
  margin: 80px 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-80 {
  margin-bottom: 80px;
}

.title-text {
  text-transform: uppercase;
  color: #D6ADA0;
  font-size: 144px;
  font-weight: 300;
  position: absolute;
  right: 110px;
  bottom: 23px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.title-text span {
  display: block;
}

.section-relative {
  position: relative;
}

.image-wrapper {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.image-wrapper img {
  border-radius: 5px;
  width: 100%;
}

.box-text {
  font-size: 20px;
  font-weight: 300;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}

.list-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-rating li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 30px;
  min-width: 32px;
  margin: 0 17px 0 0;
  fill: #D6AE9F;
}
.list-rating li:last-child {
  margin: 0;
}