@import "vars"

header
	position: absolute
	left: 0
	top: 0
	width: 100%
	z-index: 3
	padding: 46px 0
	.container
		padding: 0 210px 0 58px
		max-width: 1900px

.logo
	max-width: 144px
	width: 100%
	@include d-flex

.btn-burger
	@include d-flex
	width: 50px
	height: 50px
	fill: #fff
	margin: 0 0 0 auto
	&:hover
		fill: $accent

.header-fixed
	width: 100%
	z-index: 7
	left: 0
	top: 0
	position: relative
	background: #97B6B4
	color: #fff
	padding: 22px 0
	font-size: 16px
	overflow: hidden
	.btn-burger
		width: 37px
		height: 30px
		margin: 0
	&__link
		font-size: 20px
		color: #fff
		&:hover
			color: $accent

.header-scroll
	&.fixed
		position: fixed

.header
	position: fixed

.logo-header
	max-width: 126px
	width: 100%
	@include d-flex
	margin: 0 42px 0 0

.btn-basket
	fill: #fff
	width: 45px
	height: 34px
	min-width: 45px
	&:hover
		fill: $accent

.mini-menu
	display: flex
	align-items: center
	margin: 0 0 0 auto
	position: relative
	// z-index: 1
	padding: 0 59px 0 42px
	&::before
		content: ''
		position: absolute
		left: 0
		top: 50%
		transform: translate(0,-50%)
		width: 1400px
		height: calc(100% + 84px)
		z-index: -2
		background: $accent
	li
		margin: 0 30px 0 0
		&:last-child
			margin: 0
		a
			color: #fff
			&:hover
				color: $blue

.header-fixed-block
	margin: 0 22px 0 0
	padding: 0 22px 0 0
	position: relative
	&::before
		content: ''
		position: absolute
		top: 50%
		right: 0
		transform: translate(0,-50%)
		background: #fff
		width: 1px
		height: 40px

// mobile menu
.mobile-menu
	position: fixed
	right: 0
	top: 0
	width: 100%
	max-width: 442px
	height: 100%
	overflow-y: auto
	z-index: 10
	background: #fff
	padding: 70px 83px 95px 78px
	font-size: 24px
	display: none
	&__close
		width: 27px
		height: 27px
		min-width: 27px
		@include d-flex
		margin: 0 0 0 auto
		fill: #D6AE9F
	&__head
		width: 100%
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		padding: 0 0 60px
		width: 100%
	&__body
		width: 100%
		padding: 60px 0
		border-top: 1px solid #97B6B4
		border-bottom: 1px solid #97B6B4
	&__footer
		padding: 60px 0 0
	.phone
		color: #000
		font-size: 24px
	.schedule
		font-size: 20px
		color: #97B6B4
		margin: 0 0 27px
	.address-box
		margin: 10px 0 0
	.list-messangers
		margin: 60px 0 0
		li
			margin: 0 36px 0 0
			&:last-child
				margin: 0
			a
				width: 40px
				height: 34px
				min-width: 40px
				@include d-flex
				fill: $blue
				&:hover
					fill: $accent

.logo-menu
	max-width: 137px
	width: 100%
	@include d-flex

.menu
	li
		margin: 0 0 30px
		&:last-child
			margin: 0
		a
			color: #000
			&:hover
				color: $accent
